<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New posts</title>
</head>
<body>
    
    <h1>Create a New Post</h1>
    <form action="/posts" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="post">New Post:</label><br>
        <textarea id="post" name="content"></textarea><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>