/* navbar */
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe434d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.body {
  background-color: red;
}

/* footer */
.f-info-link a {
  text-decoration: none;
  color: #222;
}
.f-info-link a:hover {
  text-decoration: underline;
}
.f-info-link,
.f-info-socials,.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}


/* card */

.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text-p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}

/* card effic */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity:0.2;
  background-color: white;
}
/* new Page */
.add-btn{
  background-color: #fe434d !important;
  border: none !important;
}
/* Edit page */
.edit-btn{
  background-color: #fe434d !important;
  border: none !important;
}

/* Show Pages */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}