<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New User</title>
  </head>

  <body>
    <h1>Add a New User</h1>
    <form action="/add" method="post">
      <table>
        <tr>
          <td>
            <label for="username">Username:</label>
          </td>
          <td>
            <input type="text" id="username" name="username" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
          </td>
          <td>
            <input type="email" id="email" name="email" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password:</label>
          </td>
          <td>
            <input type="password" id="password" name="password" required />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Submit" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
