<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete the User</title>
</head>
<body>
    <h1>Delete From :</h1>
    <form action="/delete/<%=data.id%>?_method=DELETE" method="post">
        <input type="email" name="email" id="" placeholder="Enter of Email"><br>
        <input type="password" name="password" id="" placeholder="Enter of password"><br>
        <input type="submit" value="Delete">
    </form>
</body>
</html>