<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pages</title>
</head>
<body>
    <h2>Total number of use : <%= count %> </h2>
    <button><a href="/add">Add a New user</a></button>
</body>
</html>