<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Message</title>
</head>
<body>
    
    <h3>Create a Message.....</h3>
    <form action="/chats" method="post">
        <input type="text" placeholder="Who Was Sender ?" name="from"><br><br><br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Enter of Message"></textarea><br><br><br><br>
        <input type="text" placeholder="Add receiver " name="to"><br><br>
        <button>Create a Chat</button><br><br>
    </form>

</body>
</html>