<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs code for here</title>
</head>
<body>
    <h1>
        hello
    </h1>
    <h1>Random Number = <%= ran %></h1>
    <% if (ran==6) { %>
     <h1>try again</h1>
    <% } %>
    <h2>
        world
    </h2>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <button>hello</button>
</body>
</html>