<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram  </title>
</head>
<body>
    <h1>THis pages well be there <%= username %></h1>

    <h2>Follow List is below</h2>
    <% for (let name of follo) { %>
        <h3><%= name %></h3>
    <% } %>
</body>
</html>